
<div>
    <em><h1>Health Marketing</h1></em>
    <img width="10%" height="10%" src='pics/aiHealth_01.jpg'/>
    
    
</div>
<div>
    <p>
    <em>Stap 1:</em>
    <br>
    <em>Data verzamelen</em>
        <br>
    <em>Author: Hans Olthoff</em>
    </p>    
</div>

In [2]:
import http.client
import pandas as pd

In [3]:
conn = http.client.HTTPConnection("localhost:8080")

In [4]:
headersList = {
    "Accept": "*/*",
    "User-Agent": "Thunder Client (https://www.thunderclient.com)",
}

payload = ""

conn.request("GET", f"/medish_centrum_randstad/api/netlify?page=1", payload, headersList)
response = conn.getresponse()
result = response.read()
result = result.decode("utf-8")
#print(result)

In [5]:
df = pd.read_json(result)

# df = pd.DataFrame(df.iloc[0][0])
# df = pd.DataFrame(df.iloc[0][1])
# df = pd.json_normalize(df, record_path='data')

# df = pd.json_normalize(result, record_path="data")
# print([header for header in df])
# display(df.loc['TABELLETJE'])
# print(df)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8192 entries, 0 to 8191
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   status               8192 non-null   int64
 1   total_nr_of_records  8192 non-null   int64
 2   nr_of_pages          8192 non-null   int64
 3   page_size            8192 non-null   int64
 4   next                 8192 non-null   object
 5   data                 8192 non-null   object
dtypes: int64(4), object(2)
memory usage: 384.1+ KB

In [7]:
df

,status,total_nr_of_records,nr_of_pages,page_size,next,data
0,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 180, 'mass': 90, 'ex..."
1,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 204, 'mass': 79, 'ex..."
2,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 174, 'mass': 74, 'ex..."
3,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 187, 'mass': 78, 'ex..."
4,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 187, 'mass': 89, 'ex..."
...,...,...,...,...,...,...
8187,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 82, 'length': 185, 'mass': 67, 'ex..."
8188,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 82, 'length': 183, 'mass': 72, 'ex..."
8189,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 83, 'length': 192, 'mass': 92, 'ex..."
8190,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 81, 'length': 175, 'mass': 60, 'ex..."
8191,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 83, 'length': 204, 'mass': 76, 'ex..."

In [8]:
dict1 = df['data']

In [9]:
dict1

0       {'genetic': 84, 'length': 180, 'mass': 90, 'ex...
1       {'genetic': 84, 'length': 204, 'mass': 79, 'ex...
2       {'genetic': 84, 'length': 174, 'mass': 74, 'ex...
3       {'genetic': 84, 'length': 187, 'mass': 78, 'ex...
4       {'genetic': 84, 'length': 187, 'mass': 89, 'ex...
                              ...
8187    {'genetic': 82, 'length': 185, 'mass': 67, 'ex...
8188    {'genetic': 82, 'length': 183, 'mass': 72, 'ex...
8189    {'genetic': 83, 'length': 192, 'mass': 92, 'ex...
8190    {'genetic': 81, 'length': 175, 'mass': 60, 'ex...
8191    {'genetic': 83, 'length': 204, 'mass': 76, 'ex...
Name: data, Length: 8192, dtype: object

In [10]:
dict2 = df["data"].to_dict()

In [11]:
dict3 = dict2[8122]

In [16]:
dict3

{'genetic': 79,
 'length': 185,
 'mass': 67,
 'exercise': 3,
 'smoking': 16,
 'alcohol': 7,
 'sugar': 4,
 'lifespan': 83}

In [13]:
len(dict2)

8192

In [14]:
# df["data"].unstack(level=0).to_dict()

In [29]:
# new_df = dict1(columns=['genetic', 'length', 'mass', 'exercise', 'smoking', 'alcohol', 'sugar', 'lifespan'])

In [34]:
new = pd.DataFrame.from_dict(dict2)

In [26]:
new

,0,1,2,3,4,5,6,7,8,9,...,8182,8183,8184,8185,8186,8187,8188,8189,8190,8191
genetic,84,84,84,84,84,84,84,84,84,84,...,82,82,80,79,83,82,82,83,81,83
length,180,204,174,187,187,175,196,182,176,180,...,179,178,186,160,166,185,183,192,175,204
mass,90,79,74,78,89,74,68,83,91,74,...,68,101,97,63,82,67,72,92,60,76
exercise,2,3,3,2,2,2,2,1,1,1,...,3,2,2,1,2,3,2,1,3,3
smoking,9,2,20,6,12,2,14,1,17,5,...,18,0,9,21,3,11,1,22,13,8
alcohol,1,7,3,5,0,3,8,8,1,9,...,7,0,6,9,3,8,5,2,7,8
sugar,2,3,2,3,2,3,1,3,2,2,...,3,4,2,2,3,2,4,4,2,1
lifespan,86,100,87,91,83,89,80,77,73,73,...,82,90,75,62,86,90,88,62,93,96

In [31]:
new2 = pd.DataFrame.transpose(new)

In [32]:
new2

      genetic  length  mass  exercise  smoking  alcohol  sugar  lifespan
0        84.0   180.0  90.0       2.0      9.0      1.0    2.0      86.0
1        84.0   204.0  79.0       3.0      2.0      7.0    3.0     100.0
2        84.0   174.0  74.0       3.0     20.0      3.0    2.0      87.0
3        84.0   187.0  78.0       2.0      6.0      5.0    3.0      91.0
4        84.0   187.0  89.0       2.0     12.0      0.0    2.0      83.0
...       ...     ...   ...       ...      ...      ...    ...       ...
8187     82.0   185.0  67.0       3.0     11.0      8.0    2.0      90.0
8188     82.0   183.0  72.0       2.0      1.0      5.0    4.0      88.0
8189     83.0   192.0  92.0       1.0     22.0      2.0    4.0      62.0
8190     81.0   175.0  60.0       3.0     13.0      7.0    2.0      93.0
8191     83.0   204.0  76.0       3.0      8.0      8.0    1.0      96.0

[8192 rows x 8 columns]

In [35]:
new2.to_csv('data/new2.csv')