
<div>
    <em><h1>Health Marketing</h1></em>
    <img width="10%" height="10%" src='pics/aiHealth_01.jpg'/>
    
    
</div>
<div>
    <p>
    <em>Stap 1:</em>
    <br>
    <em>Data verzamelen: REST api aanroepen en data wegschrijven als csv.</em>
        <br>
    <em>Author: Hans Olthoff</em>
    </p>    
</div>

In [20]:
import requests
import json
import pandas as pd
import sqlite3

In [2]:
# call to REST api
request = requests.get('http://localhost:8080/medish_centrum_randstad/api/netlify?page=1')

In [3]:
# check if api works
request.status_code

200

In [4]:
# check type of output
request.headers['content-type']

'application/json'

In [5]:
# read data into pandas dataframe
df = pd.read_json(request.text)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   status               4096 non-null   int64
 1   total_nr_of_records  4096 non-null   int64
 2   nr_of_pages          4096 non-null   int64
 3   page_size            4096 non-null   int64
 4   next                 4096 non-null   object
 5   data                 4096 non-null   object
dtypes: int64(4), object(2)
memory usage: 192.1+ KB

In [7]:
# display df
df

,status,total_nr_of_records,nr_of_pages,page_size,next,data
0,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 73.9, 'length': 185.0, 'mass': 99...."
1,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 86.0, 'length': 172.0, 'mass': 105..."
2,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 83.3, 'length': 176.0, 'mass': 111..."
3,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 82.8, 'length': 164.0, 'mass': 111..."
4,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 78.7, 'length': 178.0, 'mass': 71...."
...,...,...,...,...,...,...
4091,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 80.3, 'length': 176.0, 'mass': 115..."
4092,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 75.3, 'length': 162.0, 'mass': 129..."
4093,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 93.1, 'length': 189.0, 'mass': 115..."
4094,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 77.9, 'length': 170.0, 'mass': 90...."
4095,200,4096,41,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 101.3, 'length': 188.0, 'mass': 12..."

In [8]:
# column data is of interest. Format is a dictionary of dictionaries

df_part = df['data']

In [9]:
# pandas series containing the dicts
df_part

0       {'genetic': 73.9, 'length': 185.0, 'mass': 99....
1       {'genetic': 86.0, 'length': 172.0, 'mass': 105...
2       {'genetic': 83.3, 'length': 176.0, 'mass': 111...
3       {'genetic': 82.8, 'length': 164.0, 'mass': 111...
4       {'genetic': 78.7, 'length': 178.0, 'mass': 71....
                              ...
4091    {'genetic': 80.3, 'length': 176.0, 'mass': 115...
4092    {'genetic': 75.3, 'length': 162.0, 'mass': 129...
4093    {'genetic': 93.1, 'length': 189.0, 'mass': 115...
4094    {'genetic': 77.9, 'length': 170.0, 'mass': 90....
4095    {'genetic': 101.3, 'length': 188.0, 'mass': 12...
Name: data, Length: 4096, dtype: object

In [10]:
# from series to dict
dict1 = df["data"].to_dict()

In [11]:
# check on first dict
dict2 = dict1[0]

In [12]:
dict2

{'genetic': 73.9,
 'length': 185.0,
 'mass': 99.7,
 'exercise': 0.9,
 'smoking': 0.0,
 'alcohol': 2.4,
 'sugar': 6.9,
 'lifespan': 73.1}

In [13]:
# check on length of df: all records are downloaded form the api.
len(dict1)

4096

In [14]:
# new_df = dict1(columns=['genetic', 'length', 'mass', 'exercise', 'smoking', 'alcohol', 'sugar', 'lifespan'])

df_new = pd.DataFrame.from_dict(dict1)

In [15]:
df_new

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
genetic,73.9,86.0,83.3,82.8,78.7,88.2,84.1,76.8,92.1,79.0,...,78.9,90.1,81.7,77.0,90.0,80.3,75.3,93.1,77.9,101.3
length,185.0,172.0,176.0,164.0,178.0,192.0,180.0,185.0,191.0,164.0,...,179.0,180.0,192.0,179.0,188.0,176.0,162.0,189.0,170.0,188.0
mass,99.7,105.4,111.4,111.4,71.6,54.3,91.6,127.9,68.0,118.1,...,74.5,106.5,72.7,85.5,53.2,115.9,129.6,115.3,90.8,129.2
exercise,0.9,1.8,1.1,4.7,1.5,1.8,4.3,2.6,1.9,3.7,...,3.4,1.2,3.0,2.0,3.6,3.7,3.6,2.7,2.3,1.2
smoking,0.0,8.1,0.8,11.8,8.3,0.4,2.2,21.0,17.8,0.5,...,0.0,6.1,7.8,1.8,22.0,0.1,6.2,9.4,13.2,8.2
alcohol,2.4,0.4,4.6,1.0,4.9,2.1,0.2,1.7,5.1,1.2,...,0.4,4.0,0.1,0.9,4.8,5.6,5.6,4.9,0.8,6.0
sugar,6.9,4.2,7.5,2.9,5.5,8.0,6.0,3.7,7.1,6.1,...,5.0,7.8,9.3,2.8,8.9,5.8,7.6,6.6,6.2,6.2
lifespan,73.1,85.0,81.6,81.0,75.0,87.5,86.8,69.4,86.1,77.8,...,81.2,87.1,81.0,77.0,82.4,80.7,71.1,90.0,75.9,96.9

In [16]:
# transpose columns and rows
df_new2 = pd.DataFrame.transpose(df_new)

In [17]:
df_new2

      genetic  length   mass  exercise  smoking  alcohol  sugar  lifespan
0        73.9   185.0   99.7       0.9      0.0      2.4    6.9      73.1
1        86.0   172.0  105.4       1.8      8.1      0.4    4.2      85.0
2        83.3   176.0  111.4       1.1      0.8      4.6    7.5      81.6
3        82.8   164.0  111.4       4.7     11.8      1.0    2.9      81.0
4        78.7   178.0   71.6       1.5      8.3      4.9    5.5      75.0
...       ...     ...    ...       ...      ...      ...    ...       ...
4091     80.3   176.0  115.9       3.7      0.1      5.6    5.8      80.7
4092     75.3   162.0  129.6       3.6      6.2      5.6    7.6      71.1
4093     93.1   189.0  115.3       2.7      9.4      4.9    6.6      90.0
4094     77.9   170.0   90.8       2.3     13.2      0.8    6.2      75.9
4095    101.3   188.0  129.2       1.2      8.2      6.0    6.2      96.9

[4096 rows x 8 columns]

In [29]:
# write df to csv for next steps
#df_new2.to_csv('data/raw_data_1.csv')

# deselected because of change to writing to sql db: see the next fields

In [19]:
# Data import is now ready. There is no nb 2, so goto nb 3 for the next step.

In [31]:
# Connect to SQLite database
dbConnection = sqlite3.connect('../rest_server_new/medisch_centrum_randstad/db.sqlite3')

In [28]:
# check !ls ../rest_server_new/medisch_centrum_randstad/db.sqlite3

In [32]:
df_new2.to_sql('raw_data_2', dbConnection, if_exists='replace', index = False)

4096

In [33]:
dbConnection.close()