<div>
    <em><h1>Health Marketing</h1></em>
    <img width="10%" height="10%" src='pics/aiHealth_01.jpg'/>
    
    
</div>
<div>
    <p>
    <em>Stap 3:</em>
    <br>
    <em>Data transformatie: cleaning (opschonen van de data)</em>
        <br>
    <em>Author: Hans Olthoff</em>
    </p>    
</div>

In [22]:
import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

During this project the dataset is changed from raw_data_1.csv to raw_data_2.csv 

In this nb raw_data_2.csv is used

In [3]:

# add index_col = 0 for raw_data_1.csv from api. Now use raw_data_2.csv as provided by teams without index_col=1
# df = pd.read_csv('data/raw_data_2.csv', index_col = 0)
df = pd.read_csv('data/raw_data_2.csv')

In [4]:
df

     genetic length   mass exercise  smoking alcohol sugar  lifespan
0       73.9    185   99.7      0.9      0.0     2.4   6.9      73.1
1       86.0    172  105.4      1.8      8.1     0.4   4.2      85.0
2       83.3    176  111.4      1.1      0.8     4.6   7.5      81.6
3       82.8    164  111.4      4.7     11.8     1.0   2.9      81.0
4       78.7    178   71.6      1.5      8.3     4.9   5.5      75.0
...      ...    ...    ...      ...      ...     ...   ...       ...
4091    80.3    176  115.9      3.7      0.1     5.6   5.8      80.7
4092    75.3    162  129.6      3.6      6.2     5.6   7.6      71.1
4093    93.1    189  115.3      2.7      9.4     4.9   6.6      90.0
4094    77.9    170   90.8      2.3     13.2     0.8   6.2      75.9
4095   101.3    188  129.2      1.2      8.2     6.0   6.2      96.9

[4096 rows x 8 columns]

<h2>General checks on the data:</h2>
- are there NaNs?
- are ther duplicates?
- are there outliers?

And what do with them? In this case:
- remove NaNs
- remove duplicates 
- leave outliers

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genetic   4096 non-null   object
 1   length    4096 non-null   object
 2   mass      4096 non-null   object
 3   exercise  4096 non-null   object
 4   smoking   4096 non-null   float64
 5   alcohol   4096 non-null   object
 6   sugar     4096 non-null   object
 7   lifespan  4096 non-null   float64
dtypes: float64(2), object(6)
memory usage: 256.1+ KB

In [6]:
# remove NaNs if any (present in raw_data_1.csv)
# add .copy() in order to add columns later
df = df.dropna().copy()
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4096 entries, 0 to 4095
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genetic   4096 non-null   object
 1   length    4096 non-null   object
 2   mass      4096 non-null   object
 3   exercise  4096 non-null   object
 4   smoking   4096 non-null   float64
 5   alcohol   4096 non-null   object
 6   sugar     4096 non-null   object
 7   lifespan  4096 non-null   float64
dtypes: float64(2), object(6)
memory usage: 256.1+ KB

None

In [7]:
# check for duplicate rows and remove if any (not present)
duplicateRows = df[df.duplicated()]
display(duplicateRows)

Empty DataFrame
Columns: [genetic, length, mass, exercise, smoking, alcohol, sugar, lifespan]
Index: []

In [8]:
df = df.drop_duplicates().copy()
display(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4096 entries, 0 to 4095
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genetic   4096 non-null   object
 1   length    4096 non-null   object
 2   mass      4096 non-null   object
 3   exercise  4096 non-null   object
 4   smoking   4096 non-null   float64
 5   alcohol   4096 non-null   object
 6   sugar     4096 non-null   object
 7   lifespan  4096 non-null   float64
dtypes: float64(2), object(6)
memory usage: 288.0+ KB

None

<h2>Additional checks specific for this data set:</h2>

- there are fields with ? and 'undefined' in it
- there are fields with a negative lifespan

In [9]:
df.describe()
# only 2 columns, because the rest has objects in it: those columns have to be fixed

           smoking     lifespan
count  4096.000000  4096.000000
mean      9.807446    80.127783
std       6.921461     8.042270
min       0.000000    -1.000000
25%       3.300000    75.000000
50%       9.500000    79.700000
75%      15.900000    85.200000
max      22.200000   105.100000

In [10]:
# Turns objects into numeric values (NaN) and removes NaN

df['genetic'] = pd.to_numeric(df['genetic'], errors='coerce')
df['length'] = pd.to_numeric(df['length'], errors='coerce')
df['mass'] = pd.to_numeric(df['mass'], errors='coerce')
df['exercise'] = pd.to_numeric(df['exercise'], errors='coerce')
df['alcohol'] = pd.to_numeric(df['alcohol'], errors='coerce')
df['sugar'] = pd.to_numeric(df['sugar'], errors='coerce')


df.astype('float64').dtypes

genetic     float64
length      float64
mass        float64
exercise    float64
smoking     float64
alcohol     float64
sugar       float64
lifespan    float64
dtype: object

In [11]:
# previous step all in one line (and turning existing columns with dtype float into float again)
for n in df.keys():
    df[n] = pd.to_numeric(df[n], errors='coerce')

In [12]:

# this works, but is there an equivalent in pandas?

# the df will be the old df where we apply changed with a lambda to apply pd.to_numeric where non numbers will be coerced to NaN for those columns were dtype is object. 
df = df.apply(lambda x: pd.to_numeric(x, errors='coerce') if x.dtype == 'object' else x)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4096 entries, 0 to 4095
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genetic   4095 non-null   float64
 1   length    4093 non-null   float64
 2   mass      4094 non-null   float64
 3   exercise  4095 non-null   float64
 4   smoking   4096 non-null   float64
 5   alcohol   4094 non-null   float64
 6   sugar     4095 non-null   float64
 7   lifespan  4096 non-null   float64
dtypes: float64(8)
memory usage: 288.0 KB

In [14]:
# remove newly created NaNs

df = df.dropna().copy()
display(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4086 entries, 0 to 4095
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genetic   4086 non-null   float64
 1   length    4086 non-null   float64
 2   mass      4086 non-null   float64
 3   exercise  4086 non-null   float64
 4   smoking   4086 non-null   float64
 5   alcohol   4086 non-null   float64
 6   sugar     4086 non-null   float64
 7   lifespan  4086 non-null   float64
dtypes: float64(8)
memory usage: 287.3 KB

None

In [15]:
# check on duplicates again, but not present
df = df.drop_duplicates().copy()
display(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4086 entries, 0 to 4095
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genetic   4086 non-null   float64
 1   length    4086 non-null   float64
 2   mass      4086 non-null   float64
 3   exercise  4086 non-null   float64
 4   smoking   4086 non-null   float64
 5   alcohol   4086 non-null   float64
 6   sugar     4086 non-null   float64
 7   lifespan  4086 non-null   float64
dtypes: float64(8)
memory usage: 287.3 KB

None

In [16]:
# check on negative values:
df.describe()

,genetic,length,mass,exercise,smoking,alcohol,sugar,lifespan
count,4086.000000,4086.000000,4086.000000,4086.000000,4086.000000,4086.000000,4086.000000,4086.000000
mean,82.280127,183.879344,92.273837,2.403353,9.812677,2.266006,6.484973,80.137959
std,7.440070,12.627470,25.800771,1.170593,6.919057,1.801020,2.709868,8.041656
min,63.900000,154.000000,50.000000,0.100000,0.000000,0.000000,0.700000,-1.000000
25%,77.600000,175.000000,71.425000,1.500000,3.400000,0.600000,4.400000,75.000000
50%,81.800000,184.000000,89.500000,2.200000,9.500000,1.700000,6.300000,79.700000
75%,86.700000,193.000000,110.875000,3.200000,15.900000,4.000000,8.400000,85.200000
max,102.200000,214.000000,163.600000,5.500000,22.200000,6.000000,13.800000,105.100000

In [19]:
# Lifespan cannot be negative. This must be fixed : delete rows
negatives = df[(df < 0).any(axis=1)]
display(negatives)

print()

index_negatives = df[(df < 0).any(axis=1)].index
display(index_negatives) # check: only 2 rows
print()
df = df.drop(index_negatives).copy() # drop the rows  
display(df.shape) # check the shape after deletion (must be 4086 - 2 = 4084 rows)
print()

display(index_negatives) # check: must return an empty list

Empty DataFrame
Columns: [genetic, length, mass, exercise, smoking, alcohol, sugar, lifespan]
Index: []

Int64Index([], dtype='int64')

(4084, 8)

Int64Index([], dtype='int64')

In [29]:
# shorter version of the cell above:
df_positives = df[(df > 0).any(axis=1)]

display(df_positives.describe())

,genetic,length,mass,exercise,smoking,alcohol,sugar,lifespan
count,4084.000000,4084.000000,4084.000000,4084.000000,4084.000000,4084.000000,4084.000000,4084.000000
mean,82.278624,183.885162,92.275930,2.403477,9.809035,2.266846,6.487169,80.177693
std,7.441333,12.622858,25.801031,1.170426,6.918614,1.801044,2.708622,7.840508
min,63.900000,154.000000,50.000000,0.100000,0.000000,0.000000,0.700000,57.000000
25%,77.600000,175.000000,71.475000,1.500000,3.375000,0.600000,4.400000,75.000000
50%,81.800000,184.000000,89.500000,2.200000,9.500000,1.700000,6.300000,79.700000
75%,86.700000,193.000000,110.825000,3.200000,15.900000,4.000000,8.400000,85.200000
max,102.200000,214.000000,163.600000,5.500000,22.200000,6.000000,13.800000,105.100000

In [20]:
# write df to csv for next steps
df.to_csv('data/cleaned_data_2.csv')

In [23]:
# Connect to SQLite database
dbConnection = sqlite3.connect('../rest_server_new/medisch_centrum_randstad/db.sqlite3')

In [28]:
# check !ls ../rest_server_new/medisch_centrum_randstad/db.sqlite3

In [25]:
df.to_sql('cleaned_data_2', dbConnection, if_exists='replace', index = False)

4084

In [30]:
dbConnection.close()